*
!*.md
!*.sh
!*.py
!*/
!*.csv
!*.html
!*.css
!.dockerignore
!Dockerfile
!*.yaml
!*.yml
!requirements.txt
!.gitignore
!pre-commit
!.app_version
!README.md


.idea
.DS_Store

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

!*.tfvars
!*.tf
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
